@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffbeb;
  --foreground: #451a03;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
